<!-- Conteúdo HTML preenchido pelo componente LivroListaComponent -->

<header class="container mb-4">
  <nav class="navbar bg-dark border-bottom border-body navbar-dark nav-underline">
    <div class="container-fluid">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3">
          <a class="nav-link text-white" routerLink="/lista">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/dados">Novo</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- Conteúdo HTML a ser preenchido ou pelo componente LivroListaComponent ou pelo componente LivroDadosComponent a depender do link clicado. -->

<router-outlet></router-outlet>
